.contenido__galeria--ajustes{
	width: 95%;
	height: inherit;
	margin: 0.5%;
	overflow: auto;
	align-content: center;
}

.contenido__quienessomos--ajustes{
	width: 90%;
	margin: 0.5%;
	border: double map-get($map:$colores,$key:'siete') 1px;
	overflow: auto;
	background-color: rgb(67,99,43,.95);
	&:hover{
		transform: scale(1.15);
		transition: transform 2s;
	}
}

main{
	section{
		article{

			img{
				width: 100%;
				height: auto;
				overflow: hidden;
				align-self: center;	
			}
		}
	}
}

section{
	article{
			display: inline-block;
			justify-content: center
	}
}

.tabla__insumos{
	border: solid map-get($map:$colores,$key:'diez') 100%;
	align-content: center;
	text-align: center;
	background-color: $bgTertiary;
	width: 85%;
	height: 100%;
	display: inline-block;
	margin: 1% 1.4%;
	@include medias(desktop){
		width: 30%;
	}
}

.tabla__kitsAccesorios{
	border: solid map-get($map:$colores,$key:'diez') 100%;
	align-content: center;
	text-align: center;
	background-color: $bgTertiary;
	width: 75%;
	height: 100%;
	display: inline-block;
	margin: 1% 9%;
}

.tabla__texto--md{
	font-size: map-get($map:$size,$key:'unoocho');
	border: solid white .2rem;
	background-color: $bgColor;	
	width: 100%;
	@include medias(tablet){
		font-size: map-get($map:$size,$key:'dosdos');
		border: solid white .3rem;
	}
	@include medias(desktop){
		font-size: map-get($map:$size,$key:'doscinco');
		border: solid white .5rem;
	}
}

table{
	tr{
		td{
			text-align: center;
			align-content: center;
		}
	}
}

.formulario__contacto{
	border: solid map-get($map:$colores,$key:'diez') 100%;
	text-align: center;
	background-color: $bgSecondary;
	height: inherit;
	margin: 1% 1%;
}

.formulario__contacto--agrup{
	display: inline-block;
	border: solid map-get($map:$colores,$key:'diez') 100%;
	align-content: center;
	text-align: center;
	background-color: $bgSecondary;
	margin: 2.7%;
	}

.contenido__mainindex{
	@include medias(tablet){
		display: grid;
		width: 100%;
		}
	}

.contenido__grid--mainindex{
	@include medias(tablet){
		justify-items: center;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
		"quienessomos galeria"
		"mision mision";
		}
	@include medias(desktop){
		grid-template-areas:
		"quienessomos galeria"
		"mision galeria";
		}
	}

	#quienesssomos{
		@include medias(tablet){
		grid-area: quienessomos;
		}	
	}

	#galeria{
		@include medias(tablet){
		grid-area: galeria;
		}
	}
	
	#mision{
		@include medias(tablet){
		grid-area: mision;
		}
	}

.margin{
	@include medias(desktop){
		margin-right: auto;
		margin-left: auto;
		}	
	}

.contenido__maintablas{
	@include medias(desktop){
		display: flex;
		}
	}
