.contenido__galeria--ajustes{
	width: 95%;
	height: 30%;
	margin: 1%;
	overflow: auto;
	align-content: center;
	@include medias(tablet){
		height: inherit;
	}
}


.contenido__quienessomos--ajustes{
	width: 90%;
	margin: 2%;
	border: double map-get($map:$colores,$key:'siete') 1px;
	overflow: auto;
	background-color: rgb(67,99,43,.95);
}

main{
	section{
		article{

			img{
				width: 100%;
				height: auto;
				overflow: hidden;
				align-self: center;	
			}
		}
	}
}

section{
	article{
			display: inline-block;
			justify-content: center
	}
}

.tabla__insumos{
	border: solid map-get($map:$colores,$key:'diez') 100%;
	align-content: center;
	text-align: center;
	background-color: $bgTertiary;
	width: 85%;
	height: 100%;
	display: inline-block;
	margin: 1% 1.4%;
	@include medias(desktop){
		width: 30%;
	}
}

.tabla__kitsAccesorios{
	border: solid map-get($map:$colores,$key:'diez') 100%;
	align-content: center;
	text-align: center;
	background-color: $bgTertiary;
	width: 75%;
	height: 100%;
	display: inline-block;
	margin: 1% 9%;
}

.tabla__texto--md{
	font-size: map-get($map:$size,$key:'unoocho');
	border: solid white .2rem;
	background-color: $bgColor;	
	width: 100%;
	@include medias(tablet){
		font-size: map-get($map:$size,$key:'dosdos');
		border: solid white .3rem;
	}
	@include medias(desktop){
		font-size: map-get($map:$size,$key:'doscinco');
		border: solid white .5rem;
	}
}

table{
	tr{
		td{
			text-align: center;
			align-content: center;
		}
	}
}

.formulario__contacto{
	border: solid map-get($map:$colores,$key:'diez') 100%;
	text-align: center;
	background-color: $bgSecondary;
	height: inherit;
	margin: 1% 1%;
}

.formulario__contacto--agrup{
	display: inline-block;
	border: solid map-get($map:$colores,$key:'diez') 100%;
	align-content: center;
	text-align: center;
	background-color: $bgSecondary;
	margin: 2.7%;
	}

.mapa{
	margin: 2%;
	height: 20%;
	align-content: center;
}

.card-content{
	justify-content: center;
	align-content: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.card-img{
	width: 95%;
	height: 60%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	@include medias(mobile2){
		height: 55%;
	}
	@include medias(desktop){
		height: 35%;
	}
}

.card-style{
	color: black;
	background-color: map-get($map:$colores,$key:'uno');
	padding: 1.5%;
	justify-content: center;
}

.card-btn{
	background-color: map-get($map:$colores,$key:'nueve');
	justify-content: center;
	color: map-get($map:$colores,$key:'dos');
	text-align: center;
	font-size: map-get($map:$size,$key:'unodos');
	@include medias(tablet){
		font-size: map-get($map:$size,$key:'unoseis');
	}
	@include medias(desktop){
		font-size: map-get($map:$size,$key:'dos');
	}
}

.contacto-btn{
	@extend .card-btn;
		background-color: map-get($map:$colores,$key:'doce');
	}

.contenido__mainindex{
	@include medias(tablet){
		display: grid;
		width: 100%;
		}
	}

.contenido__grid--mainindex{
	@include medias(tablet){
		justify-items: center;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
		"novedades novedades"
		"galeria galeria"
		"quienessomos mision";
		}
	@include medias(desktop){
		grid-template-areas:
		"novedades novedades"
		"quienessomos galeria"
		"mision galeria";
		}
	}

	#novedades{
		@include medias(tablet){
		grid-area: novedades;
		}	
	}

	#quienesssomos{
		@include medias(tablet){
		grid-area: quienessomos;
		}	
	}

	#galeria{
		@include medias(tablet){
		grid-area: galeria;
		}
	}
	
	#mision{
		@include medias(tablet){
		grid-area: mision;
		}
	}

.margin{
	@include medias(desktop){
		margin-right: auto;
		margin-left: auto;
		}	
	}

.contenido__maintablas{
	@include medias(desktop){
		display: flex;
		}
	}
