//vars globales

*{
	padding: 0;
	margin: 0;
}
html{
	font-size: 62.5%;
}

.hClass{
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	text-decoration-color: green;
}

$colores:(
	'uno':#bda868,
	'dos':#d6c9a2,
	'tres':#49631c,
	'cuatro':#a49056,
	'cinco':#95ac86,
	'seis':#485832,
	'siete':#558332,
	'ocho':#b1cd8a,
	'nueve':#43632b,
	'diez':#81916b,
	'once':#b9c2c1,
	'doce':#2a472d,
);

$size:(
	'ceroseis':0.6rem,
	'ceroocho':0.8rem,
	'unodos':1.2rem,
	'unocinco':1.5rem,
	'unoseiscinco':1.65rem,
	'unoseis':1.6rem,
	'unoocho':1.8rem,
	'unonueve':1.9rem,
	'uno':1rem,
	'dosdos':2.2rem,
	'doscinco':2.5rem,
	'dos':2rem,
	'dosocho':2.8rem,
	'tres':3rem,
	'cuatro':4rem,
);

@mixin medias($breakpoint){
	@if $breakpoint == mobile{
		@media(min-width: 320px){
			@content;
		}
	}
	@if $breakpoint == tablet{
		@media(min-width: 768px){
			@content;
		}
	}
	@if $breakpoint == note{
		@media(min-width: 992px){
			@content;
		}
	}
	@if $breakpoint == desktop{
		@media(min-width: 1200px){
			@content;
		}
	}
}

h1{
	@extend .hClass;
	color: white;
	font-size: map-get($map:$size,$key:'unocinco');
	@include medias(tablet){
		font-size: map-get($map:$size,$key:'dosdos');
	}
	@include medias(desktop){
		font-size: 2.8rem;
	}
}

h2{
	@extend .hClass;
	color: white;
	font-size: map-get($map:$size,$key:'unodos');
	@include medias(tablet){
		font-size: map-get($map:$size,$key:'dos');
	}
	@include medias(desktop){
		font-size: map-get($map:$size,$key:'doscinco');
	}
}

h3{
	@extend .hClass;
	color: map-get($map:$colores,$key:'doce');
	font-size: map-get($map:$size,$key:'dos');
	border: solid map-get($map:$colores,$key:'siete') 1px;
	background-color: rgb(185,194,193,.85);	
	@include medias(tablet){
		font-size: map-get($map:$size,$key:'dosdos');
	}
	@include medias(desktop){
		font-size: map-get($map:$size,$key:'cuatro');
	}
}

h4{
	@extend .hClass;
	color: black;
	font-size: map-get($map:$size,$key:'dos');
	background-color: $bgColor;
	border: solid map-get($map:$colores,$key:'doce') 1px;
	@include medias(tablet){
		font-size: map-get($map:$size,$key:'tres');
	}	
	&:hover{
		transform: scale(1.4);
		transition: transform 0.3s;
	}
	@include medias(desktop){
		font-size: map-get($map:$size,$key:'cuatro');
	}
}

h5{
	@extend .hClass;
	color: black;
	font-size: map-get($map:$size,$key:'uno');
	font-weight: 50%;
	background-color: $bgColor;
	border: solid map-get($map:$colores,$key:'doce') 1px;	
	@include medias(tablet){
		font-size: map-get($map:$size,$key:'unocinco');
	}
	@include medias(desktop){
		font-size: map-get($map:$size,$key:'unonueve');
	}
}

h6{
	@extend .hClass;
	color: map-get($map:$colores,$key:'doce');
	font-size: .8rem;	
	@include medias(tablet){
		font-size: map-get($map:$size,$key:'unoseis');
	}
	@include medias(desktop){
		font-size: map-get($map:$size,$key:'doscinco');
	}
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

body{
	font-family: $mainFont;
	background-image: url(../img/semilla4.webp);
	background-attachment: fixed;
}

header{
	width: 100%;
	height: 8rem;
	border-bottom: solid rgb(164,144,86,.75) 1rem;
	border-top: solid map-get($map:$colores,$key:'dos') 1rem;
	@include medias(tablet){
		height: 16rem;
	}
	@include medias(desktop){
		height: 25rem;
	}
}

iframe{
	widht: 100%;
}

label{
	font-size: map-get($map:$size,$key:'unodos');
	font-weight: 50%;
	text-align: center;
	align-content: center;
	width: 100%;
	@include medias(tablet){
		font-size: map-get($map:$size,$key:'dos');
	}
	@include medias(desktop){
		font-size: map-get($map:$size,$key:'doscinco');
	}
}

p{
	color: map-get($map:$colores,$key:'dos');
	font-size: map-get($map:$size,$key:'unodos');
	text-transform: uppercase;
	text-align: center;
	@include medias(tablet){
		font-size: map-get($map:$size,$key:'unoseis');
	}
	@include medias(desktop){
		font-size: map-get($map:$size,$key:'dos');
	}
}

.encabezado__imagen--ajuste{
	width: 100%;
	height: 100%
}

.flex{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}