.pie{
	text-align: center;
	background-color: rgb(164,144,86,.95);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding-top: 2.5%;
}

.pie__icono--s{
	width: 22%;
	margin: 5%;
	@include medias(tablet){
		width: 18%;
		margin: 3%;
	}
	@include medias(desktop){
		width: 12.5%;
		margin: 1.5%;
	}
}

.pie__mapa--ajustes{
	height: auto;
	align-content: initial;
}

.pie__mapa--interno{
	width: 50%;
	height: 0%;
	align-content: center;
	background-color: rgb(185,194,193,.85);
	overflow: hidden;
	@include medias(tablet){
		margin: 1rem;
		height: 10%;
	}
}


.pie__redes--ajustes{
	width: 30%;
}

.pie__texto{
	color: black;
	&:hover{
		transform: scale(1.5);
		transition: transform 0.5s;
	}
}

.pie__texto--md{
	font-size: 1rem;
	color: black;
	text-align: left;
	@include medias(mobile2){
		font-size: map-get($map:$size,$key:'unodos');
	}
	@media only screen and (min-width: 520px){
		font-size: 1.35rem;
	}
	@include medias(tablet){
		font-size: map-get($map:$size,$key:'unocinco');
	}
	@include medias(desktop){
		font-size: map-get($map:$size,$key:'unonueve');
	}
}

footer{
	article{
		a{
			img{
				&:hover{
					transform: rotate(360deg);
					transition: transform 0.5s;
				}
			}
		}
	}
}