.pie{
	text-align: center;
	background-color: rgb(164,144,86,.95);
	border: solid rgb(85,131,50) 1px;
	margin: 0.5%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.pie__icono--s{
	width: 12.5%;
	margin: 1.5%;
}

.pie__mapa--ajustes{
	height: auto;
	align-content: initial;
}

.pie__mapa--interno{
	width: 50%;
	height: 0%;
	align-content: center;
	background-color: rgb(185,194,193,.85);
	overflow: hidden;
	@media only screen and (min-width: 768px){
		margin: 1rem;
		height: 10%;
	}
}


.pie__redes--ajustes{
	width: 25%;
}

.pie__texto{
	color: black;
	width: 30%;
	&:hover{
		transform: scale(1.5);
		transition: transform 0.5s;
	}
}

.pie__texto--md{
	height: 50%;
	font-size: .6rem;
	color: black;
	text-align: left;
	@media only screen and (min-width: 768px){
		font-size: 1.5rem;
	}
	@media only screen and (min-width: 1200px){
		font-size: 1.65rem;
	}
}

footer{
	article{
		a{
			img{
				&:hover{
					transform: rotate(360deg);
					transition: transform 0.5s;
				}
			}
		}
	}
}