//botonera

#botonera{
	width: 100%;
	height: auto;
	background-color: rgb(164,144,86,.95);
	position: initial;
	top: 0;
	left: 0;
	img{
		width: 50px;
		height: auto;
		text-decoration: none;
		padding: 0.5rem;
		@include medias(tablet){
			width: 70px;
		}
		@include medias(note){
			width: 100px;
		}
		@include medias(desktop){
			width: 120px;
		}
		&:hover{
			transform: scale(1.1);
			transition: transform 0.5s;
		}
	}
	ul{
		display: flex;
		justify-content: center;
		li{
			display: flex;
			text-decoration: none;
			list-style: none;
			a{
				display: flex;
				justify-content: center;
				text-decoration: none;
				font-size: map-get($map:$size,$key:'dosdos');
				color: map-get($map:$colores,$key:'nueve');
				@include medias(tablet){
					font-size: 2.5rem;
				}
				@include medias(note){
					width: 100px;
				}
				@include medias(desktop){
					font-size: map-get($map:$size,$key:'tresdos');
				}
				&:hover{
					color: map-get($map:$colores,$key:'doce');
					font-weight: 800;
				}
			}
		}
	}
}